
.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,#769695ad, white);
    z-index: -1;
}

section.homeSection {
    position: relative;
}

.hero {
    width: 80%;
    height: 80%;
    position: relative;

}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero::after {
    content: '';
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.2%;
}

.headline {
    position: absolute;
    top: 25%;
    left: -12%;
    color: white;
    font-size: 100px;
    transform: translate(-20%, -70%);
    /* z-index: 3; */
}
@media only screen and (max-width:1050px) {
    .hero{
        width: 100%;
    }
    .headline {
        transform: translate(0%, 0%) !important;
    }
    h1.headline {
        top: 15px !important;
        font-size: 9vh !important;
        width: 80% !important;
    }
    .homeGrid {
        transform: translate(0%, 0%) !important;
        top: 65% !important;
        left:65% !important;
    }
}
@media only screen and (max-width:750px) {

    .homeGrid {
        left:50% !important;
    }
}
@media only screen and (max-width:500px) {
    h1.headline {
        padding: 20px !important;
        font-size: 6vh !important;
    }
    .homeGrid {
        left:30% !important;
    }
}

@media only screen and (max-width:365px) {
    h1.headline {
        padding: 20px !important;
        font-size: 5vh !important;
    }
}
h1.textBorder {
    display: block;
    border: 1px solid white;
    margin-left: 20px;
}
.homeSection {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.homeGrid {
    position: absolute;
    top: 70%;
    left: 75%;
    transform: translate(-20%, -70%);
    z-index: 3;
    background-color: #00000082;
}

/* Grid Set up */

.section1 {grid-area: username;}
.section2 {grid-area: password;}
.section3 {grid-area: button;}

.grid-container {
    display: grid;
    grid-template-areas: 
        'username'
        'password'
        'button';
    grid-gap: 10px;
    padding: 10px;
    z-index: 3;
}

.homeUser{
    padding: 4px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}
.homePass{
    padding: 4px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}
.homeButton {
    font-size: 20px;
    color: #84efebcf;
    background-color: transparent;
    border: 1px solid #84efebcf;
}
.homeButton:hover {
    color: #2d6b69cf;
    border: 1px solid #2d6b69cf;
}

button.homeButton {
    border-radius: 10%;
}