.appPic {
  width: 100%;
}

.containerStyle {
  margin: 60px 140px;
  padding: 20px;
  border-style: solid;
}

#header {
  font-size: 50px;
  padding-top: 130px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.borderBottom {
  border-bottom: 10px;
}

.btn {
  border-style: solid;
   
}

#mailbutton {
  float: right;
}

.pagination {
  text-align: center;
  padding-left: 30em;
  height: 50px;
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
